.header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: rgb(204, 204, 204);
    margin: 0px;
    word-wrap: break-word;
}
#bar {
    height: 50%;
    width: 100%;
    padding: 0;
    display: inline-flex;
    background-color: rgb(74, 74, 74);
    position: fixed;
    top:0px

}
canvas {
    display: inline-block;
    background-color: rgb(236, 236, 236);
}
#heading_container {
    height: 100%;
    vertical-align:top;
    padding: 0%;
    min-width: 300px;
    padding-left: 20px;
}
table, td {
    margin: auto;
    margin-top: 10%;
  }
td {
    width: 600px;
    height:300px;
}

img{
    width: 80%;
    margin-left: 10%;
}

.cell{
    margin-top: 5px;
    text-align: center;
}

a:link { 
    text-decoration: none; 
}
  
